# Kafka
KAFKA_BROKER=localhost:9092

# SeaweedFS (S3-compatible storage)
S3_ENDPOINT=http://localhost:8333
S3_ACCESS_KEY=wattwiseadmin
S3_SECRET_KEY=wattwisesecret
S3_BUCKET_RAW=raw
S3_BUCKET_PROCESSED=processed

# Postgres
POSTGRES_USER=wattwise
POSTGRES_PASSWORD=changeme
POSTGRES_DB=wattwise
POSTGRES_PORT=5433
